.App {
  text-align: center;
}

/*Jumbotron*/
.jumbo {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.jumbo h1 {
  position: absolute;
  font-size: 5em;
  color: #f6f6f6;
  margin: 0;
}

.jumbo img {
  width: 100%;
}

/*Form Stuff*/
.hide-submit {
  display: none;
}
