.App {
  text-align: center;
}

.jumbotron {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.jumbotron h1 {
  position: absolute;
  font-size: 5em;
  color: #f6f6f6;
  margin: 0;
}

.jumbotron img {
  width: 100%;
}
